audio_recorder_streamlit
langchain
langchain_community
langchain_core
langchain_google_genai
langchain_huggingface
langchain_pinecone
numpy
pinecone
protobuf
python-dotenv
sentence_transformers
streamlit
streamlit_mic_recorder
torch
