streamlit==1.45.0
protobuf==4.25.3
audio_recorder_streamlit
langchain
langchain_community
langchain_core
langchain_google_genai
langchain_huggingface
langchain_pinecone==0.1.3
numpy
pinecone==5.4.2
python-dotenv
sentence_transformers
streamlit_mic_recorder
torch
SpeechRecognition
Pillow
pypdf
rich>=14.0.0
